# Introducción a Python
> Una breve introducción al lenguaje de programación Python

- toc: true 
- badges: true
- comments: true
- categories: [deepmaxfn, python]
- image: images/icon-python.png

## Resumen

`Vamos a hacer una breve introducción a Python, explicando los tipos de datos que tenemos, el uso de funciones y de clases`

![python](https://openwhisk.apache.org/images/runtimes/icon-python-text-color-horz.png)

## Tipos de datos de Python

Existen 7 tipos de datos en Python



1. De tipo texto:`str`
2. Numéricos:`int`, `float`, `complex`
3. Secuencias: `list`, `tuple`, `range`
4. Mapping: `dict`
5. Sets: `set`, `frozenset`
6. Booleanos: `bool`
7. Binarios: `bytes`, `bytearray`, `memoryview`

Podemos obtener el tipo de dato mediante la función `type()`

In [ ]:
type(5.)

float

Python es un lenguaje de tipado dinámico, es decir puedes tener una variable de un tipo y luego asignarle otro tipo

In [ ]:
a = 5
type(a)

int

In [ ]:
a = 'DeepMaxFn'
type(a)

str

Python tipa las variables por ti, pero si las quieres tipar tu se puede hacer

In [ ]:
b = int(5.1)
type(b), b

(int, 5)

Aunque `b` se ha inicializado como `5.1`, es decir, debería ser de tipo `float`, al tiparlo nosotros a tipo `int`, vemos que es de tipo `int` y además su valor es `5`

### 1. Strings

Los `strings` son cadenas de caracteres, estos se pueden definir con doble comilla `"` o comilla simple `'`

In [ ]:
string = "DeepMaxFn"
string

'DeepMaxFn'

In [ ]:
string = 'DeepMaxFn'
string

'DeepMaxFn'

Para escribir un `string` muy largo y no tener una fila que ocupe mucho espacio se puede introducir en varias lineas

In [ ]:
string = """Este es un ejemplo de
como estoy introduciendo un string
en varias lineas"""
string

'Este es un ejemplo de\ncomo estoy introduciendo un string\nen varias lineas'

In [ ]:
string = '''Este es un ejemplo de
como estoy introduciendo un string
en varias lineas'''
string

'Este es un ejemplo de\ncomo estoy introduciendo un string\nen varias lineas'

Sin embargo vemos que en medio ha metido el caracter `\n`, este caracter indica el salto de linea. Si usamos la función `print()` veremos como ya no aparece

In [ ]:
print(string)

Este es un ejemplo de
como estoy introduciendo un string
en varias lineas

Como hemos dicho los strings son cadenas de caracteres, por lo que podemos navegar e iterar a traves de ellos

In [ ]:
for i in range(10):
  # Se indica a la función print que cuando imprima no termine con un salto de 
  # linea para escribir todo en la misma linea
  print(string[i], end='')

Este es un

Podemos obtener la longitud de nuestro string mediante la función `len()`

In [ ]:
len(string)

73

Checkear si hay ulgun string determinado dentro del nuestro

In [ ]:
'ejemplo' in string

True

Los strings tienen ciertos atributos útiles, como poner todo en mayusculas

In [ ]:
print(string.upper())

ESTE ES UN EJEMPLO DE
COMO ESTOY INTRODUCIENDO UN STRING
EN VARIAS LINEAS

Todo en minúsculas

In [ ]:
print(string.lower())

este es un ejemplo de
como estoy introduciendo un string
en varias lineas

Reemplazar caracteres

In [ ]:
print(string.replace('o', '@'))

Este es un ejempl@ de
c@m@ est@y intr@duciend@ un string
en varias lineas

Obtener todas las palabras

In [ ]:
print(string.split())

['Este', 'es', 'un', 'ejemplo', 'de', 'como', 'estoy', 'introduciendo', 'un', 'string', 'en', 'varias', 'lineas']

Puedes ver todos los métodos de los strings en este [enlace](https://www.w3schools.com/python/python_strings_methods.asp)

Otra cosa util que se puede hacer con los strings es concatenarlos

In [ ]:
string1 = 'DeepMax'
string2 = 'Fn'
string1 + string2

'DeepMaxFn'

Antes explicamos que el caracter `\n` correspondía a una salto de linea, este caracter especial corresponde a una serie de caracteres especiales llamados `Escape Characters`. Veamos otros

Si declaramos un string con doble comilla y queremos añadir una doble comilla dentro del string usamos el escape character `\"`

In [ ]:
print("Este es el blog de \"DeepMaxFn\"")

Este es el blog de "DeepMaxFn"

Lo mismo con la comilla simple, añadimos `\'`

In [ ]:
print('Este es el blog de \'DeepMaxFn\'')

Este es el blog de 'DeepMaxFn'

Ahora tenemos el problema de si queremos añadir el caracter `\` ya que como hemos visto es un `escape character`, así que lo solucionamos poniendo doble barra (backslash) `\\`

In [ ]:
print('Este es el blog de \\DeepMaxFn\\')

Este es el blog de \DeepMaxFn\

Ya vimos antes el `escape character` de nueva linea `\n`

In [ ]:
print('Este es el blog de \nDeepMaxFn')

Este es el blog de
DeepMaxFn

Si queremos escribir desde el inicio de linea añadimos `\r`

In [ ]:
print('Esto no se imprimirá \rEste es el blog de DeepMaxFn')

Este es el blog de DeepMaxFn

Si queremos añadir añadir un espacio grande (sangría) usamos `\t`

In [ ]:
print('Este es el blog de \tDeepMaxFn')

Este es el blog de 	DeepMaxFn

Podemos borrar un caracter con `\b`

In [ ]:
print('Este es el blog de \bDeepMaxFn')

Este es el blog de DeepMaxFn

Podemos añadir el codigo [ASCII](http://www.asciitable.com/) en octal mediante `\ooo`

In [ ]:
print('\104\145\145\160\115\141\170\106\156')

DeepMaxFn

O añadir el codigo [ASCII](http://www.asciitable.com/) en hexadecimal mediante `\xhh`

In [ ]:
print('\x44\x65\x65\x70\x4d\x61\x78\x46\x6e')

DeepMaxFn

Por último, podemos convertir otro tipo de dato a string

In [ ]:
n = 5
print(type (n))
string = str(n)
print(type(string))

<class 'int'>
<class 'str'>

### 2. Números

#### 2.1. Enteros

Numeros de tipo entero

In [ ]:
n = 5
n, type(n)

(5, int)

#### 2.2. Float

Números de tipo de coma flotante

In [ ]:
n = 5.1
n, type(n)

(5.1, float)

#### 2.3. Complejos

Números complejos

In [ ]:
n = 3 + 5j
n, type(n)

((3+5j), complex)

#### 2.4. Conversión

Se puede convertir entre tipos de números

In [ ]:
n = 5
n = float(n)
n, type(n)

(5.0, float)

In [ ]:
n = 5.1
n = complex(n)
n, type(n)

((5.1+0j), complex)

In [ ]:
n = 5.1
n = int(n)
n, type(n)

(5, int)

No se puede convertir un numero `complex` a tipo `int` o tipo `float`

### 3. Secuencias

#### 3.1. Listas

Las listas guardan múltiples items en una variable. Se declaran mediante los símbolos `[]`, con los items separados por comas

In [ ]:
lista = ['item0', 'item1', 'item2', 'item3', 'item4', 'item5']
lista

['item0', 'item1', 'item2', 'item3', 'item4', 'item5']

Podemos obtener la longitud de una lista mediante la función `len()`

In [ ]:
len(lista)

6

Las listas pueden tener items de distintos tipos

In [ ]:
lista = ['item0', 1, True, 5.3, "item4", 5, 6.6]
lista

['item0', 1, True, 5.3, 'item4', 5, 6.6]

En Python se empieza a contar desde la posición 0, es decir, si queremos obtener la primera posición de la lista

In [ ]:
lista[0]

'item0'

Pero una de las cosas potentes de Python es que si queremos acceder a la última posición podemos usar índices negativos

In [ ]:
lista[-1]

6.6

Si en vez de la última posición de la lista queremos la penúltima

In [ ]:
lista[-2]

5

Si solo queremos un rango de valores, por ejemplo, del segundo al quinto item accedemos mediante `[2:5]`

In [ ]:
lista[2:5]

[True, 5.3, 'item4']

Si se omite el primer número del rango singnifica que queremos desde el primer item de la lista hasta el item indicado, es decir, si queremos desde el primer item hasta el quinto usamos `[:5]`

In [ ]:
lista[:5]

['item0', 1, True, 5.3, 'item4']

Si se omite el último número del rango significa que queremos desde el item indicado hasta el último, es decir, si queremos desde el tercer item hasta el último usamos `[3:]`

In [ ]:
lista[3:]

[5.3, 'item4', 5, 6.6]

Podemos escoger el rango de items también con números negativos, es decir, si queremos desde el antepenúltimo hasta el penúltimo usamos `[-3:-1]`. Esto es útil cuando se tiene listas que no se sabe su longitud, pero se sabe que se quiere un rango de valores del final, porque por ejemplo, la lista se ha creado con medidas que se van tomando y se quiere saber las últimas medias

In [ ]:
lista[-3:-1]

['item4', 5]

Se puede comprobar si un item está en la lista

In [ ]:
'item4' in lista

True

##### 3.1.1. Editar listas

Las listas en Python son dinámicas, es decir, se pueden modificar. Por ejemplo se puede modificar el tercer item

In [ ]:
lista[2] = False
lista

['item0', 1, False, 5.3, 'item4', 5, 6.6]

También se puede modificat un rango de valores

In [ ]:
lista[1:4] = [1.1, True, 3]
lista

['item0', 1.1, True, 3, 'item4', 5, 6.6]

Se pueden añadir valores al final de la lista mediante el método `append()`

In [ ]:
lista.append('item7')
lista

['item0', 1.1, True, 3, 'item4', 5, 6.6, 'item7']

O podemos insertar un valor en una posición determinada mediante el método `insert()`

In [ ]:
lista.insert(2, 'insert')
lista

['item0', 1.1, 'insert', True, 3, 'item4', 5, 6.6, 'item7']

Se pueden unir listas mediante el método `extend()`

In [ ]:
lista2 = ['item8', 'item9']
lista.extend(lista2)
lista

['item0', 1.1, 'insert', True, 3, 'item4', 5, 6.6, 'item7', 'item8', 'item9']

No es necesario extender la lista mediante otra lista, se puede hacer mediante otro tipo de dato iterable de Python (`tuplas`, `sets`, `diccionarios`, etc)

In [ ]:
tupla = ('item10', 'item11')
lista.extend(tupla)
lista

['item0',
 1.1,
 'insert',
 True,
 3,
 'item4',
 5,
 6.6,
 'item7',
 'item8',
 'item9',
 'item10',
 'item11']

Podemos eliminar una posición determinada mediante el método `pop()`

In [ ]:
lista.pop(2)
lista

['item0',
 1.1,
 True,
 3,
 'item4',
 5,
 6.6,
 'item7',
 'item8',
 'item9',
 'item10',
 'item11']

Si no se especifica el indice se elimina el último item

In [ ]:
lista.pop()
lista

['item0', 1.1, True, 3, 'item4', 5, 6.6, 'item7', 'item8', 'item9', 'item10']

O se puede eliminar un item sabiendo su valor mediante el método `remove()`

In [ ]:
lista.remove('item7')
lista

['item0', 1.1, True, 3, 'item4', 5, 6.6, 'item8', 'item9', 'item10']

Con la función `del()` se puede eliminar también un item de la posición indicada

In [ ]:
del lista[3]
lista

['item0', 1.1, True, 'item4', 5, 6.6, 'item8', 'item9', 'item10']

Si no se indica el índice se elimina la lista entera

Con el método `clear()` deja la lista vacía

In [ ]:
lista.clear()
lista

[]

Se puede obtener la cantidad de items con un valor determinado mediante el método `count()`

In [ ]:
lista = [5, 4, 6, 5, 7, 8, 5, 3, 1, 5]
lista.count(5)

4

También se puede obtener el primer índice de un item con un valor determinado mediante el método `index()`

In [ ]:
lista = [5, 4, 6, 5, 7, 8, 5, 3, 1, 5]
lista.index(5)

0

##### 3.1.2. List comprehension

Podemos operar a través de la lista

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

# Iteramos por todos los items de la lista
for x in fruits:
  # Si el item contiene el caracter "a" lo añadimos a newlist
  if "a" in x:
    newlist.append(x)

newlist

['apple', 'banana', 'mango']

Otras de las cosas potentes de Python son las `list comprehension`, que permiten hacer todo en una sola linea y que el código quede más compacto

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

newlist

['apple', 'banana', 'mango']

La sintaxis es la siguiente



```
newlist = [expression for item in iterable if condition == True]
```

Se puede aprovechar para realizar operaciones en la lista original

In [ ]:
newlist = [x.upper() for x in fruits if "a" in x]
newlist

['APPLE', 'BANANA', 'MANGO']

##### 3.1.3. Ordenar listas

Para ordenar listas usamos el método `sort()`

In [ ]:
lista = [5, 8, 3, 4, 9, 5, 6]
lista.sort()
lista

[3, 4, 5, 5, 6, 8, 9]

También nos las ordena allfabéticamente

In [ ]:
lista = ["orange", "mango", "kiwi", "pineapple", "banana"]
lista.sort()
lista

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

A la hora de ordenar alfabéticamente distingue entre mayúsculas y minúsculas

In [ ]:
lista = ["orange", "mango", "kiwi", "Pineapple", "banana"]
lista.sort()
lista

['Pineapple', 'banana', 'kiwi', 'mango', 'orange']

Se pueden ordenar en orden descendente mediante el atributo `reverse = True`

In [ ]:
lista = [5, 8, 3, 4, 9, 5, 6]
lista.sort(reverse = True)
lista

[9, 8, 6, 5, 5, 4, 3]

Se pueden ordenar de la manera que queramos mediante el atributo `key`

In [ ]:
def myfunc(n):
  # devuelve el valor absoluto de n - 50
  return abs(n - 50)

lista = [100, 50, 65, 82, 23]
lista.sort(key = myfunc)
lista

[50, 65, 23, 82, 100]

Se puede aprovechar esto para que por ejemplo, a la hora de ordenar no distinga entre mayúsculas y minúsculas

In [ ]:
lista = ["orange", "mango", "kiwi", "Pineapple", "banana"]
lista.sort(key = str.lower)
lista

['banana', 'kiwi', 'mango', 'orange', 'Pineapple']

Se puede voltear la lista mediante el método `reverse`

In [ ]:
lista = [5, 8, 3, 4, 9, 5, 6]
lista.reverse()
lista

[6, 5, 9, 4, 3, 8, 5]

##### 3.1.4. Copiar listas

No se pueden copiar listas mediante `lista1 = lista2`, ya que si se modifica `lista1` también se modifica `lista2`

In [ ]:
lista1 = [5, 8, 3, 4, 9, 5, 6]
lista2 = lista1
lista1[0] = True
lista2

[True, 8, 3, 4, 9, 5, 6]

Por lo que hay que usar el método `copy()`

In [ ]:
lista1 = [5, 8, 3, 4, 9, 5, 6]
lista2 = lista1.copy()
lista1[0] = True
lista2

[5, 8, 3, 4, 9, 5, 6]

O hay que usar el constructor de listas `list()`

In [ ]:
lista1 = [5, 8, 3, 4, 9, 5, 6]
lista2 = list(lista1)
lista1[0] = True
lista2

[5, 8, 3, 4, 9, 5, 6]

##### 3.1.5. Concatenar listas

Se pueden concatenar listas mediante el operador `+`

In [ ]:
lista1 = [5, 8, 3, 4, 9, 5, 6]
lista2 = ['a', 'b', 'c']
lista = lista1 + lista2
lista

[5, 8, 3, 4, 9, 5, 6, 'a', 'b', 'c']

O mediante el método extend

In [ ]:
lista1 = [5, 8, 3, 4, 9, 5, 6]
lista2 = ['a', 'b', 'c']
lista1.extend(lista2)
lista1

[5, 8, 3, 4, 9, 5, 6, 'a', 'b', 'c']

Otra forma de concatenar es repetir la tupla X veces mediante el operador `*`

In [ ]:
lista1 = ['a', 'b', 'c']
lista2 = lista1 * 3
lista2

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

#### 3.2. Tuplas

Las tuplas son similares a las listas, guardan múltiples items en una variable, pueden contener items de distintos tipos, pero no s epueden modificar, ni reordenar. Se definen mediante `()`, con los items separados por comas

Al no poderse modificar hace que las tuplas se ejecuten un poco más rápido que las listas, por lo que si no necesitas modificar los datos es mejor utilizar tuplas en vez de listas

In [ ]:
tupla = ('item0', 1, True, 3.3, 'item4', True)
tupla

('item0', 1, True, 3.3, 'item4', True)

Se puede obtener su longitud mediante la función `len()`

In [ ]:
len (tupla)

6

Para crear tuplas con un único elemento es necesario añadir una coma

In [ ]:
tupla = ('item0',)
tupla, type(tupla)

(('item0',), tuple)

Para acceder a un elemento de la tupla se procede igual que con las listas

In [ ]:
tupla = ('item0', 1, True, 3.3, 'item4', True)
print(tupla[0])
print(tupla[-1])
print(tupla[2:4])
print(tupla[-4:-2])

item0
True
(True, 3.3)
(True, 3.3)

Podemos comprobar si hay un item en la tupla

In [ ]:
'item4' in tupla

True

##### 3.2.1. Modificar tuplas

Aunque las tuplas no son modificables, se pueden modificar conviertiéndolas a listas, modificando la lista y después volviéndola a convertir a tupla

In [ ]:
lista = list(tupla)
lista[4] = 'ITEM4'
tupla = tuple(lista)
tupla

('item0', 1, True, 3.3, 'ITEM4', True)

Al convertirla a lista podemos hacer todas las modificaciones vistas en las listas

Lo que sí se puede es eliminar la tupla entera

In [ ]:
del tupla

if 'tupla' not in locals():
  print("tupla eliminada")

tupla eliminada

##### 3.2.2. Desempaquetar tuplas

Cuando creamos tuplas, en realidad estamos empaquetando datos

In [ ]:
tupla = ('item0', 1, True, 3.3, 'item4', True)
tupla

('item0', 1, True, 3.3, 'item4', True)

pero podemos desempaquetarlos

In [ ]:
item0, item1, item2, item3, item4, item5 = tupla
item0, item1, item2, item3, item4, item5

('item0', 1, True, 3.3, 'item4', True)

Si queremos sacar menos datos que la longitud de la tupla añadimos un `*`

In [ ]:
item0, item1, item2, *item3 = tupla
item0, item1, item2, item3

('item0', 1, True, [3.3, 'item4', True])

Se puede poner el asterisco `*` en otra parte si por ejemplo lo que queremos es el último item

In [ ]:
item0, item1, *item2, item5 = tupla
item0, item1, item2, item5

('item0', 1, [True, 3.3, 'item4'], True)

##### 3.2.3. Concatenar tuplas

Se pueden concatenar tuplas mediante el operador `+`

In [ ]:
tupla1 = ("a", "b" , "c")
tupla2 = (1, 2, 3)

tupla3 = tupla1 + tupla2
tupla3

('a', 'b', 'c', 1, 2, 3)

Otra forma de concatenar es repetir la tupla X veces mediante el operador `*`

In [ ]:
tupla1 = ("a", "b" , "c")

tupla2 = tupla1 * 3
tupla2

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

##### 3.2.4. Métodos de las tuplas

Las tuplas tienen dos métodos, el primero es el método `count()` que devuelve el número de veces que existe un item dentro de la tupla

In [ ]:
tupla = (5, 4, 6, 5, 7, 8, 5, 3, 1, 5)
tupla.count(5)

4

Otro método es `index()` que devuelve la primera posición de un item dentro de la tupla

In [ ]:
tupla = (5, 4, 6, 5, 7, 8, 5, 3, 1, 5)
tupla.index(5)

0

#### 3.3. Range

Con `range()` podemos crear una secuencia de números, comenzando desde 0 (de forma predeterminada), se incrementa en 1 (de forma predeterminada) y se detiene antes de un número especificado



```
range(start, stop, step)
```

Por ejemplo si queremos una secuencia de 0 a 5 (sin incluir el 5)

In [ ]:
for i in range(5):
  print(f'{i} ', end='')

0 1 2 3 4

Si por ejemplo no queremos que empiece en 0

In [ ]:
for i in range(2, 5):
  print(f'{i} ', end='')

2 3 4

In [ ]:
for i in range(-2, 5):
  print(f'{i} ', end='')

-2 -1 0 1 2 3 4

Por último, si no queremos que se incremente en 1. Si por ejemplo queremos una secuencia de número pares

In [ ]:
for i in range(0, 10, 2):
  print(f'{i} ', end='')

0 2 4 6 8

### 4. Diccionarios

Los diccionarios se usan para guardar datos en pares `key:data`. Son modificables, no ordenados y no permiten duplicidades. Se definen mediante los símbolos `{}`. Admiten items de distintos tipos de datos

In [ ]:
diccionario = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
diccionario

{'brand': 'Ford',
 'colors': ['red', 'white', 'blue'],
 'model': 'Mustang',
 'year': 1964}

Como se ha dicho no permiten duplicidades

In [ ]:
diccionario = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2000,
  "colors": ["red", "white", "blue"]
}
diccionario["year"]

2000

Se puede obtener su longitud mediante la función `len()`

In [ ]:
len(diccionario)

4

Como se puede ver la longitud es 4 y no 5, ya que `year` lo cuenta solo una vez

#### 4.1. Acceder a los items

Para acceder a un item lo podemos hacer a través de su `key`

In [ ]:
diccionario["model"]

'Mustang'

También se puede acceder mediante el método `get()`

In [ ]:
diccionario.get("model")

'Mustang'

Para saber todas las `key`s de los diccionarios se puede usar el método `keys()`

In [ ]:
diccionario.keys()

dict_keys(['brand', 'model', 'year', 'colors'])

Se puede usar una variable para apuntar a las `key`s del diccionario, con lo que llamándola una vez es necesario

In [ ]:
diccionario = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

# Se declara una vez la variable que apunta a las keys
x = diccionario.keys()
print(x)

# Se añade una nueva key
diccionario["color"] = "white"

# Se consulta la variable que apunta a las key
print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

Para obtener los valores del diccionario se puede usar el método 'values()'

In [ ]:
diccionario.values()

dict_values(['Ford', 'Mustang', 2000, ['red', 'white', 'blue']])

Se puede usar una variable para apuntar a los `values`s del diccionario, con lo que llamándola una vez es necesario

In [ ]:
diccionario = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

# Se declara una vez la variable que apunta a los values
x = diccionario.values()
print(x)

# Se modifica un value
diccionario["year"] = 2020

# Se consulta la variable que apunta a los values
print(x)

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

Si lo que se quiere son los `item`s enteros, es decir `key`s y `value`s hay que usar el método `items()`

In [ ]:
diccionario.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

Se puede usar una variable para apuntar a los `item`s del diccionario, con lo que llamándola una vez es necesario

In [ ]:
diccionario = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

# Se declara una vez la variable que apunta a los items
x = diccionario.items()
print(x)

# Se modifica un value
diccionario["year"] = 2020

# Se consulta la variable que apunta a los items
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

Se puede checkear si una `key` existe en el diccionario

In [ ]:
"model" in diccionario

True

#### 4.2. Modificar los items

Se puede modificar un `item` accediendo a el directamente

In [ ]:
diccionario = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

# Se modifica un item
diccionario["year"] = 2020

diccionario

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

O se puede modificar mediante el método `update()`

In [ ]:
diccionario = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

# Se modifica un item
diccionario.update({"year": 2020})

diccionario

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

#### 4.3. Añadir items

Se puede añadir un `item` añadiéndolo sin más

In [ ]:
diccionario = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

# Se modifica un item
diccionario["colour"] = "blue"

diccionario

{'brand': 'Ford', 'colour': 'blue', 'model': 'Mustang', 'year': 1964}

O se puede añadir mediante el método `update()`

In [ ]:
diccionario = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

# Se modifica un item
diccionario.update({"colour": "blue"})

diccionario

{'brand': 'Ford', 'colour': 'blue', 'model': 'Mustang', 'year': 1964}

#### 4.4. Eliminar items

Se puede eliminar un `item` con una `key` específica mediante el método `pop()`

In [ ]:
diccionario = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

# Se elimina un item
diccionario.pop("model")

diccionario

{'brand': 'Ford', 'year': 1964}

O se puede eliminar un `item` con una `key` específica mediante `del` indicando el nombre de la `key` entre los símbolos `[]`

In [ ]:
diccionario = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

# Se elimina un item
del diccionario["model"]

diccionario

{'brand': 'Ford', 'year': 1964}

Se elimina el diccionario entero si se usa `del` y no se especifica la `key` de un `item`

In [ ]:
diccionario = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

# Se elimina un item
del diccionario

if 'diccionario' not in locals():
  print("diccionario eliminado")

diccionario eliminado

Si lo que se quiere es eliminar el último `item` introducido se puede usar el método `popitem()`

In [ ]:
diccionario = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

# Se elimina el último item introducido
diccionario.popitem()

diccionario

{'brand': 'Ford', 'model': 'Mustang'}

Si se quiere limpiar el diccionario hay que usar el método `clear()`

In [ ]:
diccionario = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
diccionario.clear()
diccionario

{}

#### 4.5. Copiar diccionarios

No se pueden copiar diccionarios mediante `diccionario1 = diccionario2`, ya que si se modifica `diccionario1` también se modifica `diccionario2`

In [ ]:
diccionario1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
diccionario2 = diccionario1
diccionario1["year"] = 2000
diccionario2["year"]

2000

Por lo que hay que usar el método `copy()`

In [ ]:
diccionario1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
diccionario2 = diccionario1.copy()
diccionario1["year"] = 2000
diccionario2["year"]

1964

O hay que usar el constructor de diccionarios `dict()`

In [ ]:
diccionario1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
diccionario2 = dict(diccionario1)
diccionario1["year"] = 2000
diccionario2["year"]

1964

#### 4.6. Diccionarios nested

Los diccionarios pueden tener `items`s de cualquier tipo de dato, incluso otros diccionarios. A este tipo de diccionarios se les denomina diccionarios `nested`

In [ ]:
diccionario_nested = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
diccionario_nested

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

diccionario_nested = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

diccionario_nested

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

#### 4.7. Métodos de los diccionarios

Estos son los [métodos](https://www.w3schools.com/python/python_dictionaries_methods.asp) que se pueden usar en los diccionarios

### 5. Sets

#### 5.1. Set

Los `sets`s se utilizan en python para guardar un conjunto de items en una sola variable. Se puede guardar items de distinto tipo. Son no ordenados y no tienen indice.

Se diferencian de las listas en que no tienen ni orden ni índice.

Se declaran mediante los símbolos `{}`

Como `set` es una palabra reservada en Python creamos un `set` con el nombre `set_`

In [ ]:
set_ = {'item0', 1, 5.3, "item4", 5, 6.6}
set_

{1, 5, 5.3, 6.6, 'item0', 'item4'}

No puede haber items duplicados, si encuentra algún item duplicado se queda solo con uno

In [ ]:
set_ = {'item0', 1, 5.3, "item4", 5, 6.6, 'item0'}
set_

{1, 5, 5.3, 6.6, 'item0', 'item4'}

Se puede obtener la longitud del `set` mediante la función `len()`

In [ ]:
len(set_)

6

Como se puede ver la longitud del set es 6 y no 7, ya que se queda con un solo `'item0'`

Se puede checkear si un item se encuentra en el set

In [ ]:
'item4' in set_

True

##### 5.1.1. Añadir items

Se puede añadir un item al set mediante el método `add()`

In [ ]:
set_.add(8.8)
set_

{1, 5, 5.3, 6.6, 8.8, 'item0', 'item4'}

Se puede añadir otro set mediante el método `update()`

In [ ]:
set2 = {"item5", "item6", 7}
set_.update(set2)
set_

{1, 5, 5.3, 6.6, 7, 8.8, 'item0', 'item4', 'item5', 'item6'}

También se pueden añadir items de tipos de datos iterables de Python

In [ ]:
lista = ["item9", 10, 11.2]
set_.update(lista)
set_

{1, 10, 11.2, 5, 5.3, 6.6, 7, 8.8, 'item0', 'item4', 'item5', 'item6', 'item9'}

##### 5.1.2. Eliminar items

Se puede eliminar un item determinado mediante el método `remove()`

In [ ]:
set_.remove('item9')
set_

{1, 10, 11.2, 5, 5.3, 6.6, 7, 8.8, 'item0', 'item4', 'item5', 'item6'}

O mediante el método `discard()`

In [ ]:
set_.discard('item6')
set_

{1, 10, 11.2, 5, 5.3, 6.6, 7, 8.8, 'item0', 'item4', 'item5'}

Mediante el método `pop()` se puede eliminar el último item, pero como los `set`s no son ordenados no hay manera de saber cúal es el último item. El método `pop()` devuelve el item eliminado

In [ ]:
print(f"set antes de pop(): {set_}")
eliminado = set_.pop()
print(f"Se ha eliminado {eliminado}")

set antes de pop(): {1, 5, 5.3, 6.6, 8.8, 7, 10, 11.2, 'item4', 'item0', 'item5'}
Se ha eliminado 1

Mediante el método `clear()` se puede vaciar el set

In [ ]:
set_.clear()
set_

set()

Por úlitmo, con `del` se puede eliminar el set

In [ ]:
del set_

if 'set_' not in locals():
  print("set eliminado")

set eliminado

##### 5.1.3. Unir items

Una forma de unir sets es mediante el método `union()`

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
set3

{1, 2, 3, 'a', 'b', 'c'}

Otra forma es mediante el método `update()`, pero de esta manera se añade un set en otro, no se crea uno nuevo

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
set1

{1, 2, 3, 'a', 'b', 'c'}

Estos métodos de union elimina los duplicados, pero si queremos obtener los items duplicados en dos sets usamos el método `intersection()`

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
set3

{'apple'}

Si queremos obtener los items duplicados en dos sets, pero sin crear un set nuevo, usamos el método `intersection_update()`

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)
set1

{'apple'}

Ahora al revés, si queremos quedarnos con los no duplicados usamos el método `symmetric_difference()`. 

La diferencia entre eso y la unión entre dos sets es que en la unión se queda con todos los items, pero los que están duplicados solo los coge una vez. Ahora nos quedamos con los que no están duplicados

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)
set3

{'banana', 'cherry', 'google', 'microsoft'}

Si queremos quedarnos con los no duplicados sin crear un set nuevo usamos el método `symmetric_difference_update()`

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)
set1

{'banana', 'cherry', 'google', 'microsoft'}

##### 5.1.4. Métodos de los sets

Estos son los [métodos](https://www.w3schools.com/python/python_sets_methods.asp) que se pueden usar en los sets

#### 5.2. Frozenset

Los `frozenset`s son como los `set`s pero con la salvedad de que son inmutables, al igual que las `tupla`s son como las `list`s pero inmutables. Por lo que no podremos añadir o eliminar items

### 6. Booleanos

Hay solo dos booleanos en Python: `True` y `False`

Mediante la función `bool()` se puede evaluar si cualquier cosa es `True` o `False`

In [ ]:
print(bool("Hello"))
print(bool(15))
print(bool(0))

True
True
False

#### 6.1. Otros tipos de datos True o False

Los siguientes datos son `True`:
*   Cualquier string que no esté vacío
*   Cualquier número escepto el 0
*   Cualquier lista, tupla, diccionario o set que no esté vacío

In [ ]:
print(bool("Hola"))
print(bool(""))

True
False

In [ ]:
print(bool(3))
print(bool(0))

True
False

In [ ]:
lista = [1, 2, 3]
print(bool(lista))

lista = []
print(bool(lista))

True
False

In [ ]:
tupla = (1, 2, 3)
print(bool(tupla))

tupla = ()
print(bool(tupla))

True
False

In [ ]:
diccionario = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(bool(diccionario))

diccionario.clear()
print(bool(diccionario))

True
False

In [ ]:
set_ = {'item0', 1, 5.3, "item4", 5, 6.6}
print(bool(set_))

set_.clear()
print(bool(set_))

True
False

### 7. Binarios

#### 7.1. Bytes

El tipo `bytes` es una secuencia inmutable de bytes. Solo admiten caracteres ASCII. También se pueden representar los bytes mediante números enteros cuyo valores deben cumplir `0 <= x < 256`

Para crear un tipo byte debemos introducir antes el caracter `b`

In [6]:
byte = b"DeepMaxFN"
byte

b'DeepMaxFN'

También se pueden crear mediante su contructor `bytes()`

In [3]:
byte = bytes(10)
byte

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

In [5]:
byte = bytes(range(10))
byte

b'\x00\x01\x02\x03\x04\x05\x06\x07\x08\t'

Se pueden concatenar bytes mediante el operador `+`

In [7]:
byte1 = b'DeepMax'
byte2 = b'FN'
byte3 = byte1 + byte2
byte3

b'DeepMaxFN'

O medainte la repetición con el operador `*`

In [8]:
byte1 = b'DeepMaxFN '
byte2 = byte1 * 3
byte2

b'DeepMaxFN DeepMaxFN DeepMaxFN '

Podemos comprobar si un caracter está dentro de la cadena

In [10]:
b'D' in byte1

True

Estos son los [métodos](https://plataforma.josedomingo.org/pledin/cursos/python3/curso/u30/#m%C3%A9todos-de-bytes-y-bytearray) que se pueden usar en los `bytes`

#### 7.2. Bytearray

Los `bytearray`s son igual que los `bytes` solo que son mutables

In [12]:
byte_array = bytearray(b'DeepMaxFN')
byte_array

bytearray(b'DeepMaxFN')

#### 7.3. Memoryview

Los objetos `memoryview` permiten que el código Python acceda a los datos internos de un objeto que admite el protocolo de búfer sin realizar copias.

La función `memoryview()` permite el acceso directo de lectura y escritura a los datos orientados a bytes de un objeto sin necesidad de copiarlos primero. Eso puede generar grandes ganancias de rendimiento cuando se opera con objetos grandes, ya que no crea una copia al cortar.

Protocolo de búfer, puede crear otro objeto de acceso para modificar los datos grandes sin copiarlos. Esto hace que el programa utilice menos memoria y aumenta la velocidad de ejecución.

In [13]:
byte_array = bytearray('XYZ', 'utf-8')
print(f'Antes de acceder a la memoria: {byte_array}')

mem_view = memoryview(byte_array)

mem_view[2]= 74
print(f'Después de acceder a la memoria: {byte_array}')

Antes de acceder a la memoria: bytearray(b'XYZ')
Después de acceder a la memoria: bytearray(b'XYJ')